- When generating commit messages, use this structure exactly:

  ## <Short imperative summary of all file changes>

  <path/to/file1>
  - <specific change in file 1>

  <path/to/file2>
  - <specific change in file 2>